APP_NAME=SIMPLE SURGERY API
APP_ENV=development
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5434/simple_surgery
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
API_PORT=8010
FRONTEND_ORIGIN=http://localhost:3010,https://simplesurgery.com.br,https://www.simplesurgery.com.br
